device.json
[{"id":"a146e4d5.ba2fe","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e0ca717c.eb94c","type":"function","z":"a146e4d5.ba2fe","name":"Device Payload","func":"// Thermostat's location:\nvar longitude1 = -98.49;\nvar latitude1 = 29.42;\n\n// Array of pseudo random temperatures\nvar temp1 = [15,17,18.5,20,21.5,23,24,22.2,19,18];\n\n// Array of pseudo random relative humidities\nvar humidity1 = [50,55,61,68,65,60,53,49,45,47];\n\n// Counter to select from array.\nvar counter1 = context.get('counter1')||0;\ncounter1 = counter1+1;\nif(counter1 > 9) counter1 = 0;\ncontext.set('counter1',counter1);\n\n// Create MQTT message in JSON\nmsg = {\n  payload: JSON.stringify(\n    {\n      d:{\n        \"temp\" : temp1[counter1],\n        \"humidity\" : humidity1[counter1],\n        \"location\" :\n        {\n          \"longitude\" : longitude1,\n          \"latitude\" : latitude1\n        },\n      }\n    }\n  )\n};\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":260,"wires":[["41b00c9d.2d98c4","a0912010.3f19b","1df2c430.0a436c","ae6e272.eb42858","c66ab795.718f88"]]},{"id":"733077ae.242f28","type":"inject","z":"a146e4d5.ba2fe","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["e0ca717c.eb94c"]]},{"id":"41b00c9d.2d98c4","type":"debug","z":"a146e4d5.ba2fe","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1010,"y":260,"wires":[]},{"id":"84094656.e71c8","type":"ui_gauge","z":"a146e4d5.ba2fe","name":"","group":"f63051eb.6163b","order":5,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"units","format":"{{msg.payload.d.temp}}","min":0,"max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1050,"y":200,"wires":[]},{"id":"d674cbe1.d0f2c","type":"ui_gauge","z":"a146e4d5.ba2fe","name":"","group":"f63051eb.6163b","order":6,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{msg.payload.d.humidity}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1030,"y":340,"wires":[]},{"id":"1fc10fe5.850788","type":"ui_text","z":"a146e4d5.ba2fe","group":"f63051eb.6163b","order":3,"width":0,"height":0,"name":"","label":"Longitude","format":"{{msg.payload.d.location.longitude}}","layout":"row-spread","x":1040,"y":480,"wires":[]},{"id":"a0912010.3f19b","type":"json","z":"a146e4d5.ba2fe","name":"","property":"payload","action":"","pretty":false,"x":750,"y":480,"wires":[["1fc10fe5.850788"]]},{"id":"1df2c430.0a436c","type":"json","z":"a146e4d5.ba2fe","name":"","property":"payload","action":"","pretty":false,"x":790,"y":200,"wires":[["84094656.e71c8"]]},{"id":"ae6e272.eb42858","type":"json","z":"a146e4d5.ba2fe","name":"","property":"payload","action":"","pretty":false,"x":780,"y":340,"wires":[["d674cbe1.d0f2c"]]},{"id":"c66ab795.718f88","type":"json","z":"a146e4d5.ba2fe","name":"","property":"payload","action":"","pretty":false,"x":770,"y":400,"wires":[["c86dc70.a131938"]]},{"id":"c86dc70.a131938","type":"ui_text","z":"a146e4d5.ba2fe","group":"f63051eb.6163b","order":4,"width":0,"height":0,"name":"","label":"Latitude","format":"{{msg.payload.d.location.latitude}}","layout":"row-spread","x":1020,"y":400,"wires":[]},{"id":"f9e49ebf.3a1838","type":"ui_text","z":"a146e4d5.ba2fe","group":"f63051eb.6163b","order":2,"width":0,"height":0,"name":"","label":"Location Status","format":"{{msg.payload}}","layout":"col-center","x":790,"y":120,"wires":[]},{"id":"f63051eb.6163b","type":"ui_group","z":"","name":"hidden_group","tab":"3cd9834b.abcb4c","order":1,"disp":false,"width":"6","collapse":false},{"id":"3cd9834b.abcb4c","type":"ui_tab","z":"","name":"Device Location","icon":"dashboard","disabled":false,"hidden":false}]